@import "bootstrap/dist/css/bootstrap.min.css";

@import './myCss.css';
@import './layout.css';
@import './fonts.css';
@import './cyBtn.css';
@import './cyBtn2.css';
@import './bgCube.css';
@import './cyBrackets.css';
@import "./common.css";
@import './cyDna.css';
@import './perspective3D.css';
@import 'items_advantages.css';
@import './matrix.css';
@import './old.css';

/*@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";*/
