:root {
    --yellow-color: #ffd800;
    --red-color: #c01b44;
    --black-color: #050a0e;
    --blue-color: #00f0ff;
    --purple-color_: #9713bc;
    --purple-color: rgba(85, 0, 107, 0.87);
    /*--white-color: #fafafa;*/
    --pink-color: #bb2c46;
}

.bg-JS {background: #c70c3b;}
.bg-PHP {background: #0091b5;}
.bg-GAME {background: #0ad416;}
.bg-DEFAULT {background: #6a6a6a;}
.bg-purple {background: var(--purple-color);}
.bg-yellow {background: var(--yellow-color);}
.bg-pink {background: #bb2c46;}
.bg-light-grey {background: #e4e4e4;}
.bg-opas-dark {background: rgba(0, 0, 0, 0.035);}

.bg-test {background: var(--pink-color);}

.br-o {border: 2px solid orange;}
.br-r { border: 2px solid red; } .br-r-d { border: 1px dashed red; }
.br-r1 { border: 1px solid red; }
.br-t1 { border: 1px solid turquoise; }
.br-grey1 { border: 1px solid #797979; }

.br-g { border: 2px solid green; }
.br-b { border: 2px solid #0b99ff; }  .br-b1 { border: 1px solid #0b99ff; }
.br-t2 { border: 2px solid turquoise; }


.pos-r {position: relative}
.pos-a {position: absolute}

.box100 {
    width: 100px;
    height: 100px;
}
.box150 {
    width: 150px;
    height: 150px;
}
.box200 {
    width: 200px;
    height: 200px;
}

.clr-pink {color: #bb2c46;}

.mw-150 {min-width: 150px}
.mw-200 {min-width: 200px}
.mw-250 {min-width: 250px}
.mw-350 {min-width: 350px}

.w-150 {width: 150px}
.w-200 {width: 200px}
.w-250 {width: 250px}
.w-300 {width: 300px}
.w-350 {width: 350px}

.pt-10 {padding-top: 10px}
.pt-20 {padding-top: 20px}
.p-lr-10 {padding-left: 10px; padding-right: 10px}
.p-lr-20 {padding-left: 20px; padding-right: 20px}
.p-lr-30 {padding-left: 30px; padding-right: 30px}
.p-l-10 {padding-left: 10px}
.p-l-20 {padding-left: 20px}
.p-l-30 {padding-left: 30px}
.p-l-50 {padding-left: 50px}

.mb-2 {margin-bottom: 2px}
.mb-4 {margin-bottom: 4px}
.mb-6 {margin-bottom: 6px}
.mb-10 {margin-bottom: 10px}
.mb-20 {margin-bottom: 20px}

.mt-10vh {margin-top: 10vh}
.mt-20vh {margin-top: 20vh}
.mt-30vh {margin-top: 30vh}
.mt-40vh {margin-top: 40vh}

.ta-c {text-align: center}
.ta-l {text-align: left}
.ta-r {text-align: right}

.c-p {cursor: pointer}

.d-f-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: blue;
    /*font-family: "Tektur", sans-serif;*/
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
