.h2-common {
    text-align: right;
    font-size: 35px;

    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-transform: uppercase;
}
.h2-common span {
    color: #db4461;
    font-size: 50px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 0.5em;
}

.cy-items-container {
    padding-top: 20px;
}
.signal-light {
    border-top: 1px dotted rgba(0, 255, 229, 0.4);
    border-bottom: 1px dotted rgba(0, 255, 187, 0.4);
}
.signal-light:hover {
    border-top: 1px dotted rgba(0, 255, 229, 0.9);
    border-bottom: 1px dotted rgba(0, 255, 187, 0.9);
    box-shadow: inset 0 0 40px 10px rgba(93, 225, 207, 0.19);
}

.cy-item{
    min-height: 400px;
    margin-top: 6px;
    margin-bottom: 8px;
}
.bs-blue {
    box-shadow: 0 0 50px 2px rgba(21, 255, 243, 0.39);
    border-top: 2px solid #18d8ff;
    border-bottom: 2px solid #18d8ff;
}
.bs-red {box-shadow: 0 0 50px 2px rgba(255, 21, 21, 0.39);}
.bs-white {box-shadow: 0 0 50px 2px rgba(248, 255, 253, 0.39);}
.cy-item-head {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cy-item-head-left {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 0 3px rgba(255, 220, 79, 1);
}
.cy-item-head-right {
    flex: 1 1 auto;
    height: 48px;
    background: rgba(7, 7, 7, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cy-item-head-left span {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.cy-item-head-right span {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    color: #b5b5b5;
}
.cy-item-head-right span.cy-item-head-right-hovered {
    color: #ffffff;
}

.cy-item-body {
    background: rgba(255, 0, 0, 0.24);
    border: 1px solid red;
    background: rgba(7, 7, 7, 0.54);
    border: 1px dotted #000000;
    margin-top: 6px;
    min-height: 360px;
    padding: 30px;
}

.top-ark {
    width: 85%;
    margin-right: 0px;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    clip-path: polygon(34px 0%, 100% 0%, 100% 100%, 0% 100%);
}
.bottom-ark {
    width:85%;
    margin-left: 0px;
    margin-top: -1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 34px) 100%, 0% 100%);
}

.streaks {
    display: flex;
    min-width: 160px;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 20px;
}
.streaks span {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 8px;
    color: #000000;
    color: #d18b8b;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 0.5em;
}
.streak-left {
    margin: 5px;
    width: 8px;
    height: 15px;
    background: #181818;
    transform: skew(-40deg);
}
.streak-right {
    margin: 5px;
    width: 8px;
    height: 15px;
    background: #181818;
    transform: skew(40deg);
}
.streak-b {
    background: #000000;
}


.pipki {
    display: flex;
    border: 1px solid red;
    border: 1px solid #2e2e2e;
}
.pipka {
    margin: 2px;
    width: 4px;
    height: 4px;
    background: red;
}

/*=========  advantages  ========*/
.advantage {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px dotted rgba(0, 0, 0, 0.11);
}
.advantage > div{
    width: 100%;
}
.advantage span {
    font-size: 18px;
    display: block;
    color: #0d0d0d;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 10px;
    text-align: center;
}
.advantage-descr {
    font-family: "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #060606;
    /*font-size: 14px;*/
    line-height: 2.0;
    text-align: center;
}


