.matrix-wrapper {
    position: relative;
}
.matrix {
    position: absolute;
    top:100px;
    left:15px;
    display: flex;
    flex-wrap: wrap;
    border-right:  1px dotted #6b6b6b;
    padding: 2px;
    width: 40px;
}
.matrix-cube {
    margin: 2px;
    width: 4px;
    height: 4px;
    background: rgba(20, 20, 20, 0.1);
}
.matrix-cube-mark {
    margin: 2px;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.22);
}
.matrix-cube-red {
    margin: 2px;
    width: 4px;
    height: 4px;
    background: rgba(255, 0, 0, 0.42);
}
