* {
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
:root {
    --с-grey0: #cacaca;
    --с-grey1: #aaaaaa;
    --с-grey2: #7b7b7b;

    --size: 30px;       /* диаметр внешнего круга */
    --thickness: 1px;   /* толщина кольца */
    --gap-deg: 44deg;    /* угол недорисованного сегмента (15%) */
}
.mh-800 {min-height: 800px;}
.mh-1200 {min-height: 1200px;}
.bg {background: #171718;}

.orange {color: orange}
.red {color: red}
.br {border: 2px solid red;}
.line { border-bottom: 1px solid #c6c6c6}

/*---- item ----*/
.item > * {
    font-family: 'Orbitron', monospace;
}
.item .item-head {
    /*font-weight: bold;*/
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #c6c6c6;
    padding: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.item .item-body {
    background: #14374a;
    border: 1px solid #8e8e8e;
    color: white;
}
/*---- item body-top ----*/
.body-top { background: #0e2846;}
.body-top .item-name {
    font-size: 25px;
    color: #42ff78;
}
.body-top .item-name span {
    font-weight: bold;
}
.body-top .item-status span:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #e0dfde;
}
.status-boxes .box {
    width: 6px;
    height: 6px;
    margin-left: 1px;
    background-color: red;
}
.status-boxes .box-yellow {
    background-color: yellow;
    box-shadow: 0 0 5px yellow;
}
.status-boxes .box-orange {background-color: orange;}
.body-top .item-status span:nth-child(2) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}
/*---- item body-middle ----*/
.body-middle {
    position: relative;
    padding: 4px;
    border-top: 1px dashed #8e8e8e;
    border-bottom: 1px dashed #8e8e8e;
    min-height: 350px;
}
.brackets {
    position: absolute;
    width: 7px;
    height: 7px;
    pointer-events: none; /* не взаимодействуют с контентом */
}
.brackets-tl {
    top: 0;
    left: 0;
    border-top: 2px solid var(--с-grey0);
    border-left: 2px solid var(--с-grey0);
}
.brackets-tr {
    top: 0;
    right: 0;
    border-top: 2px solid var(--с-grey0);
    border-right: 2px solid var(--с-grey0);
}
.brackets-bl {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--с-grey0);
    border-left: 2px solid var(--с-grey0);
}
.brackets-br {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--с-grey0);
    border-right: 2px solid var(--с-grey0);
}

/*---- item body-bottom ----*/
.body-bottom {
    background: #122e3d;
    padding: 4px;
}
.body-bottom .loader {
    position: relative;
    height: 4px;
    background: #a8a4a4;
    width: 100%;
    margin-bottom: 2px;
}
.inloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background: red;
}
.inl-1 {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 25%;
    background: yellow;
}


/* ===== layout ===== */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
}
.cntr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-hex-div {
    height: 100vh;
    background: #e2e2ea;
    font-family: Arial, sans-serif;
}

.plr-20 {
    padding: 0 20px;
}



.empty-div {
    margin-top: 3px;
    margin-bottom: 2px;
    height: 10px;
    background: #193253;
    border: 1px solid #515151;
}
.empty-div2 {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    background: #515151FF;
    border: 1px solid #515151;
}

.cy-block-top {
    min-height: 100px;
    border-top: 1px solid #e15d74;
    border-right: 1px solid #e15d74;
    display: flex;
    align-items: end;
    justify-content: left;
    background: #bb2c46;
}
.cy-block-top span {
    font-size: 14px;
    color: white;
    padding-left: 50px;
}
.cy-block-main {
    min-height: 200px;
    border-top: 1px solid #e15d74;
    border-right: 1px solid #e15d74;
    display: flex;
    align-items: end;
    justify-content: center;
    background: #bb2c46;
    font-size: clamp(24px, 5vw, 65px);
    color:black;
}
.loading span.percent {
    font-size: 33px;
}
.cy-ip {}
.cy-ip span {
    color: orange;
    font-size: 22px;
    background: rgba(123, 123, 123, 0.49);
    padding:0px 4px;
}
.cy-text {
    /*font-family: Arial, sans-serif;*/
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 22px;
}

.cy-container {

}
.cy-block-y {
    background: #fcee09;
    border-top: 1px solid #fcee09;
    border-right: 1px solid #fcee09;
    color: black;
}
.cy-block-p {
    background: #5b0ed6;
    border-top: 1px solid #7436ff;
    border-right: 1px solid #854cfe;
    color: black;
}
.cy-block-t {
    background: #19c0b0;
    border-top: 1px solid #0fdbc7;
    border-right: 1px solid #0fdbc7;
    color: black;
}
.cy-block {
    background: #bb2c46;
    border-top: 1px solid #e15d74;
    border-right: 1px solid #e15d74;
    color: black;
}
.cy-block h2, .cy-block-t h2, .cy-block-p h2, .cy-block-y h2 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 0.5em;
    padding-top: 10px;
    margin-bottom: 0;
}
.cy-block-body {
    padding: 10px;
    background: rgba(255, 0, 0, 0.1);
    border-right: 1px solid #e15d74;
    /*background: transparent;*/
}
