* {
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
:root {
    --с-grey0: #cacaca;
    --с-grey1: #aaaaaa;
    --с-grey2: #7b7b7b;

    --size: 30px;       /* диаметр внешнего круга */
    --thickness: 1px;   /* толщина кольца */
    --gap-deg: 44deg;    /* угол недорисованного сегмента (15%) */
}
.mh-800 {min-height: 800px;}
.mh-1200 {min-height: 1200px;}
.bg {background: #171718;}

.orange {color: orange}
.red {color: red}
.br {border: 2px solid red;}
.line { border-bottom: 1px solid #c6c6c6}

/*---- item ----*/
.item > * {
    font-family: 'Orbitron', monospace;
}
.item .item-head {
    /*font-weight: bold;*/
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #c6c6c6;
    padding: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.item .item-body {
    background: #14374a;
    border: 1px solid #8e8e8e;
    color: white;
}
/*---- item body-top ----*/
.body-top { background: #0e2846;}
.body-top .item-name {
    font-size: 25px;
    color: #42ff78;
}
.body-top .item-name span {
    font-weight: bold;
}
.body-top .item-status span:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #e0dfde;
}
.status-boxes .box {
    width: 6px;
    height: 6px;
    margin-left: 1px;
    background-color: red;
}
.status-boxes .box-yellow {
    background-color: yellow;
    box-shadow: 0 0 5px yellow;
}
.status-boxes .box-orange {background-color: orange;}
.body-top .item-status span:nth-child(2) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}
/*---- item body-middle ----*/
.body-middle {
    position: relative;
    padding: 4px;
    border-top: 1px dashed #8e8e8e;
    border-bottom: 1px dashed #8e8e8e;
    min-height: 350px;
}
.brackets {
    position: absolute;
    width: 7px;
    height: 7px;
    pointer-events: none; /* не взаимодействуют с контентом */
}
.brackets-tl {
    top: 0;
    left: 0;
    border-top: 2px solid var(--с-grey0);
    border-left: 2px solid var(--с-grey0);
}
.brackets-tr {
    top: 0;
    right: 0;
    border-top: 2px solid var(--с-grey0);
    border-right: 2px solid var(--с-grey0);
}
.brackets-bl {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--с-grey0);
    border-left: 2px solid var(--с-grey0);
}
.brackets-br {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--с-grey0);
    border-right: 2px solid var(--с-grey0);
}

/*---- item body-bottom ----*/
.body-bottom {
    background: #122e3d;
    padding: 4px;
}
.body-bottom .loader {
    position: relative;
    height: 4px;
    background: #a8a4a4;
    width: 100%;
    margin-bottom: 2px;
}
.inloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background: red;
}
.inl-1 {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 25%;
    background: yellow;
}


/* ===== layout ===== */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
}
.cntr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-hex-div {
    height: 100vh;
    background: #e2e2ea;
    font-family: Arial, sans-serif;
}

.plr-20 {
    padding: 0 20px;
}



.empty-div {
    margin-top: 3px;
    margin-bottom: 2px;
    height: 10px;
    background: #193253;
    border: 1px solid #515151;
}
.empty-div2 {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    background: #515151FF;
    border: 1px solid #515151;
}

.cy-block-top {
    min-height: 100px;
    border-top: 1px solid #e15d74;
    border-right: 1px solid #e15d74;
    display: flex;
    align-items: end;
    justify-content: left;
    background: #bb2c46;
}
.cy-block-top span {
    font-size: 14px;
    color: white;
    padding-left: 50px;
}
.cy-block-main {
    min-height: 200px;
    border-top: 1px solid #e15d74;
    border-right: 1px solid #e15d74;
    display: flex;
    align-items: end;
    justify-content: center;
    background: #bb2c46;
    font-size: clamp(24px, 5vw, 65px);
    color:black;
}
.loading span.percent {
    font-size: 33px;
}
.cy-container {

}
.cy-block-p {
    background: #5b0ed6;
    border-top: 1px solid #7436ff;
    border-right: 1px solid #854cfe;
    color: black;
}
.cy-block-t {
    background: #19c0b0;
    border-top: 1px solid #0fdbc7;
    border-right: 1px solid #0fdbc7;
    color: black;
}
.cy-block {
    background: #bb2c46;
    border-top: 1px solid #e15d74;
    border-right: 1px solid #e15d74;
    color: black;
}
.cy-block h2, .cy-block-t h2, .cy-block-p h2 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 0.5em;
    padding-top: 10px;
    margin-bottom: 0;
}
.cy-block-body {
    padding: 10px;
    background: rgba(255, 0, 0, 0.1);
    border-right: 1px solid #e15d74;
    /*background: transparent;*/
}



/*======  perspective test ======*/
/* Базовые стили для кубов */
.box100 { width: 100px; height: 100px; }
.box150 { width: 150px; height: 150px; }
.box200 { width: 200px; height: 200px; }

/* Границы */
.br-r { border: 2px solid red; } .br-r-d { border: 1px dashed red; }
.br-g { border: 2px solid green; }
.br-b { border: 2px solid blue; }
.br-t { border: 2px solid turquoise; }

/* 3D СЦЕНА */
.scene {
    perspective: 800px; /* Сила перспективы */
    perspective-origin: center center;
    margin: 0 auto;
    position: relative;
}

/* Контейнер для всех 3D элементов */
.cube-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateX(-10deg) rotateY(-20deg);
    transition: transform 0.5s ease;
}

/* Общие стили для всех кубов */
.cube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Позиционируем кубы в 3D пространстве */

/* Красный куб - самый дальний */
.far {
    transform: translate(-50%, -50%) translateZ(-100px);
    background: rgba(255, 0, 0, 0.1);
}

/* Зеленый куб - ближе */
.middle {
    transform: translate(-50%, -50%) translateZ(0px);
    background: rgba(0, 255, 0, 0.1);
}

/* Синий куб - самый близкий */
.near {
    transform: translate(-50%, -50%) translateZ(100px);
    background: rgba(0, 0, 255, 0.1);
}

/* Добавим подписи для наглядности */
.cube::after {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
}

.far::after {
    content: "Z: -100px";
    color: red;
}

.middle::after {
    content: "Z: 0px";
    color: green;
}

.near::after {
    content: "Z: 100px";
    color: blue;
}

/* Интерактивность */
.scene:hover .cube-container {
    transform: translate(-50%, -50%) rotateX(-20deg) rotateY(20deg);
}

/* Анимация для демонстрации */
@keyframes rotate3d {
    0% { transform: translate(-50%, -50%) rotateX(-0deg) rotateY(0deg); }
    100% { transform: translate(-50%, -50%) rotateX(-20deg) rotateY(360deg); }
}

/* Применяем анимацию к правой сцене */
.scene:nth-child(2) .cube-container {
    animation: rotate3d 10s infinite linear;
}
